*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

body{
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #5e548e;
    font-size: 50px;
    align-items: center;
    border-bottom: 2px solid black;
}

/* HAMBURGER MENU */
#menu{
    width: 35px;
    height: 30px;
    margin: 0px 50px 0px 0px;
    cursor: pointer;
    padding-top: 50px;
}
    
.bar{
    height: 5px;
    width: 100%;
    background-color: black;
    display: block; 
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px); /* translate separates bars on the Y axis */
}

#bar3{
    transform: translateY(4px);
}

.nav li a{
    color: black;
    text-decoration: none;
}

.nav li a:hover{
    font-weight: bold;
}

.nav li{
    list-style: none;
    padding: 5px 0;
}

.nav li.active{
    text-decoration: underline;
}

.nav{
    padding: 0;
    margin: 0 10px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg, #menu-bar{ /* positions menu background to top right */
    top: 0;
    right: 0;
    position: absolute;
}

.menu-bg{
    z-index: 1; /* pushes menu background behind menu links */
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: #64a6bd;
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar{
    z-index: 2; /* brings menu in front of menu background */
}

.change-bg{
    width: 300px;
    height: 350px;
    transform: translate(63%, -9%); /* more accurately positions background */
}

.change .bar{
    background-color: white;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg); /* on click, bars 1,3 come to center on Y axis, rotate to into X, bar 2 disappears */
}

.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: block;
}

/* END HAMBURGER MENU */

h1, h2{font-size: 35px;
    font-weight: 500;
}

h1{
    padding-left: 30px;
}

h2 {
    color: #64a6bd;
    font-size: 60px;
    text-shadow: -3px 3px 2px black;
}

main {
    padding: 20px;
}


/* HOME PAGE */
.homeMain{
    display: flex;
    justify-content: center;
    background-color: #E3ECF3;
}

#homePic{
    width: 65%; 
    margin-bottom: 164px;  
    border: 2px solid black;
}
/*END HOME PAGE */


/* BIO */
.bioMain{
    background-color: #e3ecf3; 
    display: block;
}

.bioPics {
    width: 65%;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* END BIO PAGE /*


/* CONTACT PAGE */

.inputGroup{
    margin-bottom: 10px;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select{
    padding: 5px;
    border: 1px solid black;
    width: 75%;
}

/* Footer */
.footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #ada7c9;
    align-items: center;
    font-weight: 500;
    border-top: 2px solid black;
}
/* END FOOTER CSS */





/* MEDIUM / Tablet */
@media only screen and (min-width: 768px) {

/* header, menu */

#menu, #menu-bg{
    display: none;
}

.nav li{
    display: inline;
    padding: 15px;
}

#nav{
    display: block;
}

/* BIO */

}

/* LARGE / Desktop */
@media only screen and (min-width: 1024px) {

    #nav{
        display: block;
    }
}