*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-evenly;
    background-color: #457b9d;
    font-size: 50px;
    align-items: center;
    padding-left: 5px;
}

h1, h2{font-size: 35px;
    font-weight: 500;
}

h2 {
    color: #457b9d;
    font-size: 60px;
}

.headerP{font-size: 30px;}

main {
    padding: 20px;
}


/* HOME PAGE CSS */
.homeMain{
    display: flex;
    justify-content: center;
    background-color: #E3ECF3;
}

#homePic{
    width: 65%;   
    border: 5px solid #457b9d;
}
/*END HOME PAGE CSS */


/* BIO */
.bioMain{
    background-color: #e3ecf3; 
    display: flex;
    flex-wrap: wrap;
}

.bioPics {
    width: 65%;
    border: 5px solid #457b9d;
}
/* END BIO PAGE CSS /*


/* Footer */
.footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #457b9d;
    align-items: center;
    font-weight: 500;
}
/* END FOOTER CSS */





/* MEDIUM / Tablet */
@media only screen and (min-width: 768px) {

    #menu li {
        display: inline;
        padding: 8px;
    }
    
    #menu li a{
        color: black;
        text-decoration: none;
    }
    
    #menu li.active {
        text-decoration: underline;
    }
}

/* LARGE / Desktop */
@media only screen and (min-width: 1024px) {
    
}